@import "bourbon";
@import "font-awesome";

body {
  background: url(../images/bg.gif) no-repeat;
  background-size: cover;
}
h1 {
	position: relative;
	color: white;
	top: 0px;
	left: 433px;
}

#game{
	position: relative;
	width: 446px;
	height: 200px;
	left: 426px;
  top: 231px;
}
#field{
	background: url(../images/football.gif);
	background-size: contain;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	cursor: pointer;
}



.gameover1 {
	position: absolute;
  top: 300px;
  left: 400px;
  color: red;
  font-size: 30px;
}

.gameover2 {
	position: absolute;
  top: 300px;
  right: 467px;
  color: red;
  font-size: 30px;
}

.paddle img{
	background-size: contain;
	top: 70px;
	position: absolute;
	width: 30px;
	height: 30px;
}

#paddleA img{
	right: 50px;
	// background-image: url(../images/bears.jpg);
}

#paddleB img{
	left: 50px;
	// background-image: url(../images/greenbay.jpg);
}

.pl1{
	position: relative;
	top: 214px;
  left: 350px;
  & .N1{
  	color: #1C1B41;
  	text-shadow:
    -1px -1px 0 #EE6E24,
    1px -1px 0 #EE6E24,
    -1px 1px 0 #EE6E24,
    1px 1px 0 #EE6E24;
  }
}

.pl2{
	position: relative;
	top: 140px;
	left: 0px;
	& .N2{
		color: #03482D;
		text-shadow:
    -1px -1px 0 #C9920D,
    1px -1px 0 #C9920D,
    -1px 1px 0 #C9920D,
    1px 1px 0 #C9920D;
	}

}
.pad{
	background: url(../images/hand.png) 50% 0 repeat-y;
	width: 30px;
	height: 100%;
	position: absolute;
	top: 0;
}

.pad.right{
	right: 50px;
}

.pad.left{
	left: 50px;
}

.p1health{
color: #BF6922;

} 
.p2health {
	
	color: #F4FD73;
}